{% extends "hotel/base.html" %}

{% block title %}

Tables

{% endblock %}

{% block content %}

<section class="container">
   {% for i in text1 %}
   <div class="list-group">
  <article>
    <div class="media-body">
    <div class="list-group">
    <a href="#">{{i.tablenum}}</a>
    
    </div>
    <h2><a href="{% url 'table-detail' i.id %}">TableNum{{i.tablenum}}</a></h2>
    
    </div>
    </article>
    </div>
   {% endfor %}
</section>



{% endblock %}

{% block footer %}

{% endblock %}